:root {
  --vanilla: #f0e4d0;
  --chocolate: #553c13;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.cake-container {
  position: relative;
  width: 100%;
  height: 50%;
}

.cake-container-bottom {
  position: relative;
  width: 100%;
  height: 50%;
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.plate {
  width: 270px;
  height: 110px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ccc, 10%), 0 4px 0 darken(#ccc, 10%), 0 5px 40px rgba(black, 0.5);
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--chocolate);
}

.layer-top { top: 0px; }
.layer-middle { top: 33px; }
.layer-bottom { top: 66px; }

.icing {
  top: 2px;
  left: 5px;
  background-color: var(--vanilla);
  width: 240px;
  height: 90px;
  border-radius: 50%;
}

.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: lighten(var(--vanilla), 3%);
  box-shadow: 0 0 4px lighten(var(--vanilla), 5%), 0 0 4px lighten(var(--vanilla), 5%), 0 0 4px lighten(var(--vanilla), 5%);
  border-radius: 50%;
  z-index: 1;
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--vanilla);
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7B020B;
  width: 16px;
  height: 50px;
  border-radius: 8px / 4px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}

.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 8px;
  border-radius: 50%;
  background-color: lighten(#7B020B, 10%);
}

.flame {
  position: absolute;
  background-color: orange;
}